<template>
<div>
    <b-modal :active.sync="isComponentModalActive" scroll="keep" >
        <p align="center">
            <img v-bind:src="'data:image/jpeg;base64,'+fullimagebase64">
            </p>

    </b-modal>

    <b-field>
        <b-upload v-model="dropFiles" multiple drag-drop>
            <section class="section">
                <div class="content has-text-centered">
                    <p>
                        <b-icon icon="upload" size="is-large">
                        </b-icon>
                    </p>
                    <p>Drop your files here or click to upload</p>
                </div>
            </section>
        </b-upload>

        <b-button type="is-primary" style="margin:10px" @click="sendImages()">Send images</b-button>

        <b-button type="is-primary" style="margin:10px" @click="getPreviewImagesButton(images.length)">Get images</b-button>
        <span style="margin:10px">{{ loading }}</span>
    </b-field>

    <span v-for="(file, index) in dropFiles" :key="index" class="tag is-primary">
        {{file.name}}
        <button class="delete is-small" type="button" @click="deleteDropFile(index)">
        </button>
    </span>
    <img v-for="(img,index) in images" :key="index" v-lazy="'data:image/jpeg;base64,'+img" style="margin:10px" @click="getImageById(index)" />

</div>
</template>

<script>
import axios from 'axios';
export const HTTP = axios.create({
    baseURL: 'http://127.0.0.1:8081/api'
})

export default {
    data() {
        return {
            dropFiles: [],
            isComponentModalActive: false,
            images: [],
            fullimagebase64: '',
            index: 0,
            stop: false,
            anotherstop: false,
            loading: ''
        }
    },
    methods: {

        sendImages() {
            this.images = []
            let formData = new FormData();
            const df_length = this.dropFiles.length;
            for (var i = 0; i < df_length; i++) {
                let file = this.dropFiles[i];
                formData.append('files[' + i + ']', file);
            }
            this.dropFiles.splice(0, df_length);
            this.loading = 'Loading...'
            //send to server
            HTTP
                .post('/send-images',
                    formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                )
                .then(() => {
                    this.loading = 'ok!'
                    //alert("ok");
                }, (error) => {
                    alert(error);
                    this.loading = 'Error'
                });

            //add image(s) to page

        },
        getPreviewImagesButton(index) {
            if (this.stop == true) {
                this.stop = false;
                this.anotherstop = false;
                index = 0;
                this.images = []
            }

            this.getPreviewImages(index)
        },
        getPreviewImages(index) {

            this.loading = 'Loading...'
            HTTP
                .get('/get-preview-images/' + index)
                .then((response) => {
                    for (var i = 0; i < response.data.length; i++)
                        this.images.push(response.data[i])
                    this.loading = 'ok!'
                    this.anotherstop = false;
                })
                .catch(() => {
                    //404 error
                    this.loading = 'Error'
                    this.stop = true;
                    alert("end")
                })

        },
        getImageById(id) {
            this.loading = 'Loading...'
            HTTP
                .get('/get-image-by-index/' + id)
                .then((response) => {

                    this.fullimagebase64 = response.data;
                    this.isComponentModalActive = true;
                    this.loading = 'ok!'
                })
                .catch((error) => {
                    this.loading = 'Error';
                    alert(error.response.status);
                })
        },
        deleteDropFile(index) {
            this.dropFiles.splice(index, 1)
        },
        scroll() {
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight

                if (bottomOfWindow && this.stop == false && this.anotherstop == false) {
                    this.anotherstop = true;
                    this.getPreviewImages(this.images.length);
                }
            }
        }
    },
    mounted() {
        this.scroll()
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
</style>
